body {
    margin: 0;
    height: 100vh;
}

.container {
    display: grid;
    grid-template:
    "left-menu      server-menu     top-menu"   1fr
    "left-menu      server-menu     chat"       1fr
    "left-menu      server-menu     message"    1fr /
    60px            120px           1fr;
    background-color: beige;
    height: 100%;
}

.left-menu {
    grid-area: left-menu;
    background-color: darkkhaki;
}

.server-menu {
    grid-area: server-menu;
    background-color: darkgoldenrod;
}

.top-menu {
    grid-area: top-menu;
    background-color: darkcyan;
}

.chat {
    grid-area: chat;
    background-color: greenyellow;
}

.message {
    grid-area: message;
    background-color: darkorchid;
}