body {
    margin: 0;
    height: 100vh;
}

/* Main Grid */
.container {
    display: grid;
    grid-template:
    "top-menu       top-menu        top-menu"   60px
    "left-menu      main            right-menu" 1fr /
    300px           1fr             300px;
    background-color: white;
    height: 100%;
    gap: 30px
}

.top-menu {
    display: grid;
    grid-area: top-menu;
    background-color: lightskyblue;
    grid-template-columns: 1fr 1fr .8fr;
}

.top-menu > div {
    background-color: rgb(174, 189, 47);
    border: dotted 1px blue;
}

.left-menu {
    display: grid;
    grid-area: left-menu;
    background-color: lightgreen;
    margin-left: 50px;
    grid-template-rows: 1fr .5fr;
    gap: 10px
}

.left-menu > div {
    background-color: rgba(96, 173, 236, 0.801);
    border: dotted 1px red;
    border-radius: 20px;
}

.right-menu {
    display: grid;
    grid-area: right-menu;
    background-color: lightcoral;
    margin-right: 50px;
    grid-template-rows: 1fr .3fr;
    gap: 10px;
}

.right-menu > div {
    background-color: rgb(223, 174, 15);
    border: dotted 1px green;
    border-radius: 20px;
}

.main {
    display: grid;
    grid-area: main;
    background-color: lightsteelblue;
    grid-template:
    "info"          2fr      
    "create-post"   1fr    
    "feed"          2fr/
    1fr;
    gap: 10px;
}

.info {
    grid-area: info;
    background-color: darkcyan;
}

.create-post {
    grid-area: create-post;
    background-color: darkmagenta;
}

.feed {
    grid-area: feed;
    background-color: darkred;
    margin-top: 20px;
}