body {
    margin: 0;
    height: 100vh;
}

/* Main Grid */
.container {
    display: grid;
    grid-template:
    "top-menu       top-menu        top-menu"   60px
    "left-menu      main            right-menu" 1fr /
    300px           1fr             300px;
    background-color: white;
    height: 100%;
    gap: 30px
}

.top-menu {
    grid-area: top-menu;
    background-color: lightskyblue;
}

.left-menu {
    grid-area: left-menu;
    background-color: lightgreen;
    margin-left: 50px;
}

.right-menu {
    grid-area: right-menu;
    background-color: lightcoral;
    margin-right: 50px;
}

.main {
    display: grid;
    grid-area: main;
    background-color: lightsteelblue;
    grid-template:
    "info"          2fr      
    "create-post"   1fr    
    "feed"          2fr/
    1fr;
    gap: 10px;
}

.info {
    grid-area: info;
    background-color: darkcyan;
}

.create-post {
    grid-area: create-post;
    background-color: darkmagenta;
}

.feed {
    grid-area: feed;
    background-color: darkred;
    
}