body {
    margin: 0;
    /* height: 100vh; */
}

/* Main Grid */
.container {
    display: grid;
    grid-template:
    "top-menu       top-menu        top-menu"   60px
    "left-menu      main            right-menu" 500px /
    300px           1fr             300px;
    background-color: lightblue;
    height: 100%;
}

.top-menu {
    grid-area: top-menu;
    background-color: lightskyblue;
}

.left-menu {
    grid-area: left-menu;
    background-color: lightgreen;
}

.right-menu {
    grid-area: right-menu;
    background-color: lightcoral;
}