.container {
    display: grid;
    grid-template: 
    "header         header      header"         100px
    "sub-header     sub-header  sub-header"     50px
    "left-menu      main        right-menu"     1fr
    "footer         footer      footer"         100px /
    300px           1fr       200px;
    /* gap: 10px; */
    /* row-gap: 10px; */
    /* column-gap: 10px; */
}

.header {
    grid-area: header;
    background-color: lightcoral;
}

.sub-header{
    grid-area: sub-header;
    background-color: darkred;
}

.left-menu {
    grid-area: left-menu;
    background-color: lightskyblue;
}

.right-menu {
    grid-area: right-menu;
    background-color: lightgreen;
}

.footer {
    grid-area: footer;
    background-color: lightpink;
}

.main {
    grid-area: main;
    background-color: lightseagreen;
    min-height: 600px;
}

