body {
    margin: 0;
    height: 100vh;
}

.container {
    display: grid;
    grid-template: 
    "logo       search      account"    60px
    "folders    mail        right-menu" 1fr /
    .3fr        1fr         .3fr;
    background-color: rgb(189, 189, 224);
    height: 100%;
    gap: 10px
}

@media screen and (max-width: 1000px) {
    .container {
        grid-template:
        "logo       search"   60px
        "folders    mail"   1fr/
        .3fr        1fr;
    }
}

.logo {
    grid-area: logo;
    background-color: firebrick;
}

.search {
    grid-area: search;
    background-color: hotpink;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    .search{
        display: none;
    }
}
.account {
    grid-area: account;
    background-color: bisque;
}

@media screen and (max-width: 1000px) {
    .account {
        display: none;
    }
}

.folders {
    grid-area: folders;
    background-color: dodgerblue;
}

.mail{
    grid-area: mail;
    background-color: darkslategrey;
    border-radius: 20px;
}

.right-menu {
    display: grid;
    grid-area: right-menu;
    background-color: orange;
    grid-template:
    "settings   apps" 1fr /
    .8fr        .2fr;
}

@media screen and (max-width: 1000px) {
    .right-menu{
        display: none;
    }
}

.settings {
    grid-area: settings;
    background-color: brown;
    border-radius: 20px;
}

.apps {
    grid-area: apps;
    background-color: lawngreen;
    border-radius: 20px;
}

